.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.container-excuse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-weight: 900;
  font-size: 30px;
}
